#bg
{

    background: linear-gradient(to bottom, #33ccff 1%, #ff99cc 105%);
    background-repeat: no-repeat;
    height: 100vh ;
    
        
}

.notes
{
    margin: auto;
    text-align: center;
    border: 2px solid black;
    width: 300px;
    height: 400px;
    background-color: beige;
    
}
.todolist
{
    list-style-type: none;
}